@tailwind base;
@tailwind components;
@tailwind utilities;

/*Add CSS here as required*/

@layer base{

    .remove-scrollbar::-webkit-scrollbar {
        width: 0;
        height: 0;
        border-radius: 0;
    }

    .remove-scrollbar::-webkit-scrollbar-thumb {
        background: transparent;
    }

    .remove-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .remove-scrollbar::-webkit-scrollbar-thumb:hover {
        background: transparent;
    }
}

@layer utilities{

    .side-img{
        @apply hidden h-full object-cover md:block rounded-l-3xl
    }

    .shad-input {
        @apply bg-dark-400 placeholder:text-dark-600 border-dark-500 h-11 focus-visible:ring-0 focus-visible:ring-offset-0 !important;
    }
    .input-phone {
        @apply mt-2 h-11 rounded-md px-3 text-sm border bg-dark-400 placeholder:text-dark-600 border-dark-500 !important;
    }
}

.PhoneInputInput{
    outline: none;
    font-size: 14px;
    font-weight: 500;
    background-color: rgb(26 29 33);
    margin-left: 4px;
}

.PhoneInput::placeholder{
    color: #1a1d21;
}
